In [4]:
import os
import re
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv(r'../data/train.csv')
train[:3]

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [5]:
cols = [
    "f190486d6","58e2e02e6","eeb9cd3aa","9fd594eec","6eef030c1","15ace8c9f",
    "fb0f5dbfe","58e056e12","20aa07010","024c577b9","d6bb78916",
    "b43a7cfd5","58232a6fb"
]
rows = np.array([2072,3493,379,2972,2367,4415,2791,3980,194,1190,3517,811,4444])-1

In [11]:
train.loc[rows,['ID','target']+cols]

,ID,target,f190486d6,58e2e02e6,eeb9cd3aa,9fd594eec,6eef030c1,15ace8c9f,fb0f5dbfe,58e056e12,20aa07010,024c577b9,d6bb78916,b43a7cfd5,58232a6fb
2071,7862786dc,3513333.34,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00,3076666.66,550000.00,247166.66,296444.44
3492,c95732596,160000.00,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00,3076666.66,550000.00,247166.66
378,16a02e67a,2352551.72,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00,3076666.66,550000.00
2971,ad960f947,280000.00,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00,3076666.66
2366,8adafbb52,5450500.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00
4414,fd0c7cfc2,1359000.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00
2790,a36b78ff7,60000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00
3979,e42aae1b8,12000000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54
193,0b132f2c6,500000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00
1189,448efbb28,1878571.42,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00
3516,ca98b17ca,814800.00,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88
810,2e57ec99f,307000.00,1878571.42,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00
4443,fef33cb02,528666.66,814800.00,1878571.42,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00

In [14]:
train.loc[rows,['ID','target']+cols].values[:-1,-1]

array([296444.44, 247166.66, 550000.0, 3076666.66, 440000.0, 0.0,
       1600000.0, 466461.54, 3147200.0, 75000.0, 1586888.88, 1477600.0],
      dtype=object)